<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .row{
            display: flex;
            margin: 10px;
        }
        .row>.col:nth-child(1){
            width: 60px;
        }
        button{
            margin: 10px;
        }
    </style>
</head>
<body>
<div class="wrap">
    <div class="inner-wrap">
        <form action="/board/remove" th:object="${board}">
            <div class="row">
                <div class="col">번호</div>
                <div class="col">
                    <input type="text" readonly th:field="*{boardBno}"/>
                </div>
            </div>
            <div class="row">
                <div class="col">글쓴이</div>
                <div class="col">
                    <input type="text" readonly th:field="*{boardWriter}"/>
                </div>
            </div>
            <div class="row">
                <div class="col">제목</div>
                <div class="col">
                    <input type="text" readonly th:field="*{boardTitle}"/>
                </div>
            </div>
            <div class="row">
                <div class="col">내용</div>
                <div class="col">
                    <textarea name="" id="" cols="30" rows="10" readonly th:field="*{boardContent}"></textarea>
                </div>
            </div>
            <div class="row">
                <button type="button" onclick="goModify()">수정</button>
                <button type="submit">삭제</button>
            </div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    function goModify(){
        let boardBno = [[${board.boardBno}]];
        location.href="/board/modify?boardBno=" + boardBno;
    }
</script>
</body>
</html>